@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title-text-shadow: 1px 1px 1px #aaa, 1px 2px 1px #aaa, 1px 3px 1px #aaa,
    1px 4px 1px #aaa, 1px 5px 1px #aaa, 1px 6px 1px #aaa, 1px 7px 1px #aaa,
    1px 8px 1px #aaa, 1px 9px 1px #aaa, 1px 10px 1px #aaa,
    1px 18px 6px rgba(150, 150, 150, 0.4),
    1px 22px 10px rgba(150, 150, 150, 0.2),
    1px 25px 35px rgba(150, 150, 150, 0.2),
    1px 30px 60px rgba(150, 150, 150, 0.4);
}

body {
  color: #fff;
  background-color: #000;
  overflow-x: hidden;
}

.mainTitle {
  color: inherit;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  margin-bottom: 2rem;
  text-shadow: var(--title-text-shadow);
}

#header::after {
  content: '';
  position: absolute;
  background-color: #219dff;
  box-shadow: 0 0 5px #219dff, 0 0 10px #219dff;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in;
}

#header:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

#link::after {
  content: '';
  position: absolute;
  background-color: #219dff;
  box-shadow: 0 0 5px #219dff, 0 0 10px #219dff;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in;
}

#link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

#step:nth-child(even) {
  flex-direction: row-reverse;
}

#dots span {
  width: 0.8rem;
  height: 0.8rem;
  display: block;
  border-radius: 100%;
  animation: animate 2s linear infinite;
}

#dots span:nth-child(1) {
  animation-delay: 0s;
}
#dots span:nth-child(2) {
  animation-delay: 0.25s;
}
#dots span:nth-child(3) {
  animation-delay: 0.5s;
}
#dots span:nth-child(4) {
  animation-delay: 0.75s;
}
#dots span:nth-child(5) {
  animation-delay: 1s;
}

@keyframes animate {
  0%,
  100% {
    background-color: white;
    filter: blur(2px);
    box-shadow: 0 0 10px #219dff, 0 0 20px #219dff, 0 0 40px #219dff,
      0 0 80px #219dff, 0 0 120px #219dff, 0 0 200px #219dff, 0 0 300px #219dff,
      0 0 400px #219dff;
  }
  5%,
  95% {
    background-color: #219dff;
    filter: blur(0);
    box-shadow: none;
  }
}
