@import '~/styles/variables';

.WhoWeAre {
  padding: 2rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .title {
    font-size: 3rem;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    margin-bottom: 2rem;
    text-shadow: $title-text-shadow;

    @media screen and (max-width: 450px) {
      font-size: 2.5rem;
    }
  }
  .inner {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media screen and (max-width: 850px) {
      flex-direction: column;
    }

    .text {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        text-align: center;
        font-size: 1.3rem;
      }
      @media screen and (max-width: 850px) {
        width: 100%;
      }
    }
    .animationBox {
      width: 40%;
      .animation {
        width: 100%;
        filter: invert(1);
      }
      @media screen and (max-width: 850px) {
        width: 100%;
      }
    }
  }

  .dots {
    width: 100vw;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 2rem;
    span {
      width: 0.8rem;
      height: 0.8rem;
      display: block;
      border-radius: 100%;
      animation: animate 2s linear infinite;

      &:nth-child(1) {
        animation-delay: 0s;
      }
      &:nth-child(2) {
        animation-delay: 0.25s;
      }
      &:nth-child(3) {
        animation-delay: 0.5s;
      }
      &:nth-child(4) {
        animation-delay: 0.75s;
      }
      &:nth-child(5) {
        animation-delay: 1s;
      }
    }
  }
}

@keyframes animate {
  0%,
  100% {
    background-color: $white;
    filter: blur(2px);
    box-shadow: 0 0 10px $blue, 0 0 20px $blue, 0 0 40px $blue, 0 0 80px $blue,
      0 0 120px $blue, 0 0 200px $blue, 0 0 300px $blue, 0 0 400px $blue;
  }
  5%,
  95% {
    background-color: $blue;
    filter: blur(0);
    box-shadow: none;
  }
}
