@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background-color: #000;
  overflow-x: hidden;
  max-width: 1560px;
  margin: 0 auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}

.textInput .errorText,
.textArea .errorText {
  font-size: 14px;
}

body.lock {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
