.screen {
  width: 450px;
  display: flex;
  border: 3px solid rgba(33, 150, 213, 0.8);
  aspect-ratio: 10 / 14;
  border-radius: 1rem;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.screen:after,
.screen:before {
  content: "";
  height: 5px;
  position: absolute;
  z-index: 4;
  left: 50%;
  translate: -50% 0%;
  background-color: white;
}

.screen:before {
  width: 15%;
  top: 0rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.screen:after {
  width: 25%;
  bottom: 0rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.screenOverlay {
  background: linear-gradient(
    rgba(33, 150, 243, 0.15),
    rgba(33, 150, 243, 0.15) 3px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 9px;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
}

.screenImage {
  background-image: url("/bmw2.webp");
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  background-size: 300%;
  background-position: 0% 0%;
  filter: sepia(100%) hue-rotate(160deg);
  opacity: 0.6;
  animation: panImage 15s linear infinite;
}

@keyframes panImage {
  0% { background-position: 36% 42%; background-size: 200%; }
  20% { background-position: 30% 35%; background-size: 200%; }
  20.0001% { background-position: 60% 85%; background-size: 500%; }
  40% { background-position: 49% 81%; background-size: 500%; }
  40.0001% { background-position: 80% 42%; background-size: 300%; }
  60% { background-position: 84% 33%; background-size: 300%; }
  60.0001% { background-position: 0% 0%; background-size: 300%; }
  80% { background-position: 15% 4%; background-size: 300%; }
  80.0001% { background-position: 80% 10%; background-size: 300%; }
  100% { background-position: 72% 14%; background-size: 300%; }
}

.screenContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 4rem;
  position: relative;
  z-index: 3;
  margin: 1rem;
  padding-bottom: 6rem;
  border: 1px solid rgba(33, 150, 243, 0.5);
  border-radius: 0.6rem;
}

.screenIcon {
  color: white;
  font-size: 4rem;
  text-shadow: 0px 0px 0.5rem white;
}

.screenUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.screenUser:before,
.screenUser:after {
  content: "";
  position: absolute;
  top: 0px;
  background-color: rgb(33, 150, 243);
  border-radius: 1rem;
  box-shadow: 0px 0px 8px 3px rgba(33, 150, 243, 0.6);
}

.screenUser:before {
  height: 2px;
  width: 50px;
  translate: -20px -1rem;
  opacity: 0.75;
}

.screenUser:after {
  height: 3px;
  width: 30px;
  translate: 26px calc(-1rem - 0.5px);
}

.name {
  font-family: "Source Code Pro", monospace;
  color: white;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  font-size: 4.25rem;
  font-weight: 400;
}

@media (max-width: 700px) {
  .screen {
    scale: 0.6;
    margin-bottom: 0rem;
  }
}