.IntroSlider {
  position: relative;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 0;
}

.swiper {
  width: 100%;
  height: 100vh;
}

.swiperSlide {
  width: 100vw;
  height: 100%;
}
