@import '~/styles/variables';

.Intro {
  position: relative;
  width: 100vw;
  height: 100vh;
  .title {
    position: absolute;
    top: 30%;
    margin-left: 10vw;
    @media screen and (max-width: 550px) {
      width: 100%;
      text-align: center;
      margin-left: 0;
    }
    h1 {
      text-transform: uppercase;
      font-size: 20vh;
      text-shadow: 5px 5px 0 #000;
      color: $blue;
      @media screen and (max-width: 991px) {
        font-size: 15vh;
      }
      @media screen and (max-width: 750px) {
        font-size: 13vh;
      }
      @media screen and (max-width: 650px) {
        margin-bottom: 1rem;
      }
    }
    p {
      text-transform: uppercase;
      font-size: 2rem;
      margin-top: -1.5rem;
      margin-left: 3rem;
      font-weight: 800;
      background-image: linear-gradient(to right, $pink, $blue);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      @media screen and (max-width: 550px) {
        margin-left: 0;
      }
      @media screen and (max-width: 450px) {
        margin-top: 1rem;
      }
    }
  }
}

